<div class="bg-sq-primary">
  <!-- Header -->
  <sqr-header></sqr-header>
  <main>
    <div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
      <div class="absolute inset-0 -z-10 overflow-hidden bg-sq-primary">
        <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
          <defs>
            <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
              <path d="M100 200V.5M.5 .5H200" fill="none" />
            </pattern>
          </defs>
          <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
            <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
          </svg>
          <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
        </svg>
      </div>
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="lg:max-w-lg">
              <h1
                class="mt-4 text-3xl font-bold tracking-tight text-white sm:text-4xl text-style">SUMMARY
              </h1>
              <p class="mt-6 text-xl leading-8 text-white text-style">SquirtleCoin is a decentralized cryptocurrency inspired by the iconic Squirtle character from the Pokémon universe. The project, created in collaboration with advanced artificial intelligence, aims to create a vibrant community around a fun, irreverent, and attractive token, offering unique opportunities for token holders and challenging the traditional landscape of cryptocurrencies. This technical document describes the tokenomics, roadmap, and key features of SquirtleCoin, emphasizing the project's commitment to transparency, sustainability, and community empowerment.</p>
            </div>
          </div>
        </div>
        <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
          <img
            class="w-[48rem] max-w-none  sm:w-[57rem]" src="./assets/background-roadmap.png" alt="">
        </div>
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
              <h1
                class="mt-16 text-3xl font-bold tracking-tight text-white sm:text-4xl text-style">1. INTRODUCTION
              </h1>
              <h2 class="mt-2 text-2xl font-bold tracking-tight text-white text-style">1.1
                Background</h2>
              <p class="text-white text-style">Squirtle, a well-known and beloved Pokémon character, has captivated the hearts of millions of people around the world. The SquirtleCoin project builds on this foundation, seeking to create a digital currency that resonates with fans and fosters a sense of camaraderie among its holders. With the guidance of artificial intelligence, SquirtleCoin presents a unique and appealing proposal in the cryptocurrency market. With a strong focus on engaging events, rewarding tokenomics, and a supportive community, SquirtleCoin strives to challenge the status quo of the world of cryptocurrencies.</p>
              <h2 class="mt-16 text-2xl font-bold tracking-tight text-white text-style">1.2 Vision and Mission </h2>
              <p class="text-white text-style">The vision of SquirtleCoin is to become the leading cryptocurrency for Squirtle and Pokémon universe fans and enthusiasts. By offering a unique combination of fun and irreverent activities and solid tokenomics, the project aims to create a sustainable ecosystem that rewards token holders and supports the growth of the SquirtleCoin community. The collaboration with artificial intelligence brings additional value to the project, allowing an innovative and strategic approach in the creation and promotion of the currency.</p>
              <h1
                class="mt-16 text-3xl font-bold tracking-tight text-white sm:text-4xl text-style">2. TOKENOMICS
              </h1>
              <h2 class="mt-2 text-2xl font-bold tracking-tight text-white text-style">2.1
                Token Distribution</h2>
              <p class="text-white text-style">SquirtleCoin has a total supply of 369,710,000,000,000 tokens. The distribution is as follows:</p>
              <ul role="list" class="mt-8 space-y-8 text-gray-600">
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">82% for the liquidity pool
                    (147,884,000,000,000).</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">6% assigned for community incentives and rewards (staking)
                    comunitarias
                    (92,427,500,000,000)</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">6% assigned for strategic partners and marketing
                    (73,942,000,000,000)</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">6% reserved for future centralized exchange listings (36,971,000,000,000)</span>
                </li>
              </ul>
              <h2 class="mt-2 text-2xl font-bold tracking-tight text-white text-style">2.2 Community Incentives </h2>
              <p class="text-white text-style">The SquirtleCoin ecosystem will include staking programs, exclusive events, and promotions for token holders, encouraging community participation and long-term commitment to the project.</p>
              <h1
                class="mt-16 text-3xl font-bold tracking-tight text-white sm:text-4xl text-style">ROAD MAP
              </h1>
              <h2 class="mt-2 text-2xl font-bold tracking-tight text-white text-style">"Ride the wave of fun with SquirtleCoin! Discover our incredible roadmap full of adventures, irreverence, and rewards. Join the Squirtle revolution and be part of our exciting journey to success." </h2>
              <p class="text-white text-style">Based on the proposed tokenomics and focusing on engaging, fun, and irreverent activities, here is a roadmap divided into three phases for the SquirtleCoin project:</p>
              <h2 class="mt-4 text-2xl font-bold tracking-tight text-white text-style">Phase 1:
                Launch and Initial Growth</h2>
              <ul role="list" class="mt-8 space-y-8 text-gray-600">
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Official launch of SquirtleCoin and public token sale.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Listing on popular decentralized exchanges (DEX) and promotion of initial trading.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Organization of Squirtle meme and digital art contests, with rewards in SquirtleCoin for the winners.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Implementation of a viral marketing campaign on social media, including collaborations with popular influencers and hashtag creation.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Launch of the staking reward program to incentivize SquirtleCoin holders.</span>
                </li>
              </ul>
              <h2 class="mt-4 text-2xl font-bold tracking-tight text-white text-style">Phase 2: Consolidation and Community Expansion</h2>
              <ul role="list" class="mt-8 space-y-8 text-gray-600">
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Implementation of a "Squirtle Treasure Hunt," a global treasure hunt event online and in the real world, with clues and prizes in SquirtleCoin.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Organization of Squirtle-themed meetups and virtual events for the community</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Development of an official SquirtleCoin online store, with exclusive products and merchandise for token holders.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Creation of a SquirtleCoin ambassador program to promote the project and expand the community in different regions.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Revelation of new NFT arts, these will be distributed among some SquirtleCoin holders.</span>
                </li>
              </ul>
              <h2 class="mt-4 text-2xl font-bold tracking-tight text-white text-style">Phase 3: Project Maturity and Sustainability</h2>
              <ul role="list" class="mt-8 space-y-8 text-gray-600">
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Organization of a "Squirtle Day," an annual day of celebration with special events, discounts, and promotions for SquirtleCoin holders.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Implementation of a decentralized governance system, allowing token holders to vote on important decisions and propose new ideas for the project.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Assessment of the project's impact on the community and the environment, and adaptation of strategies to ensure the long-term sustainability of SquirtleCoin.</span>
                </li>
            
              </ul>
              <p class="text-white text-style mt-4">This roadmap aims to attract and retain community interest, encouraging participation in fun and irreverent activities related to Squirtle and the SquirtleCoin project.</p>
              <h1
                class="mt-16 text-3xl font-bold tracking-tight text-white sm:text-4xl text-style">CONCLUSION</h1>
              <h2 class="mt-2 text-2xl font-bold tracking-tight text-white text-style">SquirtleCoin aims to create an attractive, dynamic, and supportive community centered on a fun and irreverent digital currency. By implementing solid tokenomics, offering exciting events, and focusing on community empowerment, the project seeks to establish a sustainable ecosystem and challenge the traditional landscape of the world of cryptocurrencies.</h2>
              <h1 class="mt-16 text-3xl font-bold tracking-tight text-white sm:text-4xl text-style">FINAL PART</h1>
              <h2 class="mt-2 text-2xl font-bold tracking-tight text-white text-style">SquirtleCoin, the coolest cryptocurrency inspired by our beloved Squirtle from the Pokémon world, is here to crash the party and empower the community. We know Nintendo might freak out and send us a lawsuit, but you know what? We invite you to join the cause and use SquirtleCoin to show the world that Squirtle deserves more recognition! Together, let's challenge the system and show everyone the power of the SquirtleCoin community, fighting for a future where Squirtle can be the shining star it was always meant to be.</h2>
            </div>
          </div>
        </div>

      </div>
    </div>

  </main>
  <!-- Footer -->
  <sqr-footer></sqr-footer>
</div>
