<div class="bg-sq-primary">
  <!-- Header -->
  <sqr-header></sqr-header>
  <main>
    <div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
      <div class="absolute inset-0 -z-10 overflow-hidden bg-sq-primary">
        <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
          <defs>
            <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
              <path d="M100 200V.5M.5 .5H200" fill="none" />
            </pattern>
          </defs>
          <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
            <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
          </svg>
          <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
        </svg>
      </div>
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="lg:max-w-lg">
              <h1
                class="mt-4 text-3xl font-bold tracking-tight text-white sm:text-4xl text-style">RESUMEN
              </h1>
              <p class="mt-6 text-xl leading-8 text-white text-style">SquirtleCoin es una criptomoneda
                descentralizada inspirada en el icónico personaje Squirtle del universo Pokémon. El proyecto, creado en colaboración con la inteligencia artificial avanzada, tiene como objetivo crear una comunidad vibrante en torno a un token divertido, irreverente y atractivo, ofreciendo oportunidades únicas para los tenedores de tokens y desafiando el panorama tradicional de las criptomonedas. Este documento técnico describe la tokenómica, la hoja de ruta y las características clave de SquirtleCoin, enfatizando el compromiso del proyecto con la transparencia, la sostenibilidad y el empoderamiento de la comunidad.</p>
            </div>
          </div>
        </div>
        <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
          <img
            class="w-[48rem] max-w-none  sm:w-[57rem]" src="./assets/background-roadmap.png" alt="">
        </div>
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
              <h1
                class="mt-16 text-3xl font-bold tracking-tight text-white sm:text-4xl text-style">1. Introducción
              </h1>
              <h2 class="mt-2 text-2xl font-bold tracking-tight text-white text-style">1.1
                Antecedentes</h2>
              <p class="text-white text-style">Squirtle, un personaje de Pokémon conocido y querido ha cautivado los corazones de millones de personas en todo el mundo. El proyecto SquirtleCoin se basa en esta base, buscando crear una moneda digital que resuene con los fanáticos y fomente un sentido de camaradería entre sus titulares. Con la asesoría de la inteligencia artificial, SquirtleCoin presenta una propuesta única y atractiva en el mercado de criptomonedas. Con un fuerte enfoque en eventos atractivos, tokenómica gratificante y una comunidad solidaria, SquirtleCoin se esfuerza por desafiar el statu quo del mundo de las criptomonedas.</p>
              <h2 class="mt-16 text-2xl font-bold tracking-tight text-white text-style">1.2 Visión y Misión </h2>
              <p class="text-white text-style">La visión de SquirtleCoin es convertirse en la criptomoneda líder para los fanáticos y entusiastas de Squirtle y el universo Pokémon. Al ofrecer una combinación única de actividades divertidas e irreverentes y una sólida tokenómica, el proyecto tiene como objetivo crear un ecosistema sostenible que recompense a los tenedores de tokens y respalde el crecimiento de la comunidad SquirtleCoin. La colaboración con la inteligencia artificial aporta un valor adicional al proyecto, permitiendo un enfoque innovador y estratégico en la creación y promoción de la moneda.</p>
              <h1
                class="mt-16 text-3xl font-bold tracking-tight text-white sm:text-4xl text-style">2. Tokenomics
              </h1>
              <h2 class="mt-2 text-2xl font-bold tracking-tight text-white text-style">2.1
                Distribución de Tokens</h2>
              <p class="text-white text-style">SquirtleCoin tiene un suministro total de 369,710,000,000,000 tokens. La distribución es la siguiente:</p>
              <ul role="list" class="mt-8 space-y-8 text-gray-600">
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">80% reservado para venta pública
                    (147,884,000,000,000).</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">% asignado para incentivos y recompensas
                    comunitarias
                    (92,427,500,000,000)</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style"> % reservado para el equipo de desarrollo y
                    contrataciones futuras
                    (73,942,000,000,000)</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">% asignado para socios estratégicos y marketing (36,971,000,000,000)</span>
                </li>
              </ul>
              <h2 class="mt-2 text-2xl font-bold tracking-tight text-white text-style">2.2 Incentivos comunitarios </h2>
              <p class="text-white text-style">El ecosistema SquirtleCoin incluirá programas de staking, eventos exclusivos y promociones para los tenedores de tokens, fomentando la participación de la comunidad y el compromiso a largo plazo con el proyecto.</p>
              <h1
                class="mt-16 text-3xl font-bold tracking-tight text-white sm:text-4xl text-style">Road Map
              </h1>
              <h2 class="mt-2 text-2xl font-bold tracking-tight text-white text-style">"¡Súbete a la ola de diversión con SquirtleCoin! Descubre nuestro increíble roadmap lleno de aventuras, irreverencia y recompensas. Únete a la revolución Squirtle y sé parte de nuestra emocionante travesía hacia el éxito." </h2>
              <p class="text-white text-style">Basado en los tokenomics propuestos y enfocándose en actividades atractivas, divertidas e irreverentes, aquí tienes un roadmap dividido en tres fases para el proyecto SquirtleCoin:</p>
              <h2 class="mt-4 text-2xl font-bold tracking-tight text-white text-style">Fase 1:
                Lanzamiento y crecimiento inicial</h2>
              <ul role="list" class="mt-8 space-y-8 text-gray-600">
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Lanzamiento oficial de SquirtleCoin y venta pública de tokens.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Listado en intercambios descentralizados populares (DEX) y promoción del trading inicial.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Organización de concursos de memes y arte digital sobre Squirtle, con recompensas en SquirtleCoin para los ganadores.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Implementación de una campaña de marketing viral en redes sociales, incluyendo colaboraciones con influencers populares y creación de hashtags.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Establecimiento de alianzas estratégicas con plataformas de juegos y tiendas en línea para promover el uso de SquirtleCoin.</span>
                </li>
              </ul>
              <h2 class="mt-4 text-2xl font-bold tracking-tight text-white text-style">Fase 2: Consolidación y expansión de la comunidad</h2>
              <ul role="list" class="mt-8 space-y-8 text-gray-600">
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Lanzamiento del programa de recompensas por staking para incentivar a los tenedores de SquirtleCoin.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Implementación de un "Squirtle Treasure Hunt", un evento global de búsqueda del tesoro en línea y en el mundo real, con pistas y premios en SquirtleCoin.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Organización de meetups y eventos virtuales temáticos de Squirtle para la comunidad, como fiestas de disfraces, torneos de videojuegos y sesiones de trivia.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Desarrollo de una tienda en línea oficial de SquirtleCoin, con productos y mercancías exclusivos para los tenedores de tokens.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Creación de un programa de embajadores de SquirtleCoin para promover el proyecto y expandir la comunidad en diferentes regiones.</span>
                </li>
              </ul>
              <h2 class="mt-4 text-2xl font-bold tracking-tight text-white text-style">Fase 3: Madurez y sostenibilidad del proyecto</h2>
              <ul role="list" class="mt-8 space-y-8 text-gray-600">
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Organización de un "Squirtle Day", un día anual de celebración con eventos especiales, descuentos y promociones para los tenedores de SquirtleCoin.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Implementación de un sistema de gobernanza descentralizada, permitiendo a los tenedores de tokens votar en decisiones importantes y proponer nuevas ideas para el proyecto.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Desarrollo de una plataforma de crowdfunding basada en SquirtleCoin para financiar proyectos relacionados con la conservación de la vida silvestre y el medio ambiente.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Establecimiento de colaboraciones con estudios de videojuegos independientes para crear juegos exclusivos basados en Squirtle y el universo SquirtleCoin.</span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-white" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-white text-style">Evaluación del impacto del proyecto en la comunidad y el medio ambiente, y adaptación de las estrategias para asegurar la sostenibilidad a largo plazo de SquirtleCoin.</span>
                </li>
              </ul>
              <p class="text-white text-style mt-4">Este roadmap busca atraer y mantener el interés
                de la comunidad, fomentando la participación en actividades divertidas e irreverentes relacionadas con Squirtle y el proyecto SquirtleCoin.</p>
              <h1
                class="mt-16 text-3xl font-bold tracking-tight text-white sm:text-4xl text-style">CONCLUSIÓN</h1>
              <h2 class="mt-2 text-2xl font-bold tracking-tight text-white text-style">SquirtleCoin tiene como objetivo crear una comunidad atractiva, dinámica y solidaria centrada en una moneda digital divertida e irreverente. Al implementar una tokenómica sólida, ofrecer eventos emocionantes y centrarse en el empoderamiento de la comunidad, el proyecto busca establecer un ecosistema sostenible y desafiar el panorama tradicional del mundo de las criptomonedas.</h2>
              <h1 class="mt-16 text-3xl font-bold tracking-tight text-white sm:text-4xl text-style">PARTE FINAL </h1>
              <h2 class="mt-2 text-2xl font-bold tracking-tight text-white text-style">SquirtleCoin, the coolest cryptocurrency inspired by our beloved Squirtle from the Pokémon world, is here to crash the party and empower the community. We know Nintendo might freak out and send us a lawsuit, but you know what? We invite you to join the cause and use SquirtleCoin to show the world that Squirtle deserves more recognition! Together, let's challenge the system and show everyone the power of the SquirtleCoin community, fighting for a future where Squirtle can be the shining star it was always meant to be.</h2>
            </div>
          </div>
        </div>

      </div>
    </div>

  </main>
  <!-- Footer -->
  <sqr-footer></sqr-footer>
</div>
