<div class="relative isolate overflow-hidden bg-gray-900 pb-16 pt-14 sm:pb-20 bg-sq-primary">
  <img src="./assets/background-home40opacity.png" alt="bg-squirtle"
    class="absolute inset-0 -z-10 h-full w-30 object-cover">
  <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">

      <div class="text-center">
        <h1
          class="text-6xl font-bold tracking-tight text-white sm:text-9xl drop-shadow-xl shadow-black italic text-style">Squirtle</h1>
        <p class="mt-6 text-3xl g leading-8 text-white drop-shadow-xl shadow-black italic">the most
          memeable memecoin in existence. The dogs have had their day, it’s time for Squitle to
          take reign.</p>
        <div class="mt-10 flex items-center justify-center gap-x-10 ml-24 mr-24">
          <a href="#" class="mt-6 flex flex-shrink-0 items-center justify-center rounded-md border border-white border-opacity-25 bg-white bg-opacity-30 drop-shadow-xl px-4 py-3 text-xl font-medium text-white hover:bg-opacity-40 sm:ml-8 sm:mt-0 lg:ml-0 lg:w-full shadow-lg">BUY NOW</a>
        </div>
      </div>
    </div>

    <!-- Logo cloud -->
    <div class="mx-auto grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-6">
      <img class="col-span-2 col-start-2 max-h-28  w-full object-contain sm:col-start-auto lg:col-span-1 drop-shadow-2xl cursor-pointer" src="./assets/twitter.png" alt="twitter" width="800" height="800">
      <img class="col-span-2 max-h-28 w-full object-contain lg:col-span-1 drop-shadow-2xl cursor-pointer" src="./assets/telegram.png" alt="telegram" width="800" height="800">
      <img class="col-span-2 max-h-28 w-full object-contain sm:col-start-2 lg:col-span-1 cursor-pointer" src="./assets/dextools.png" alt="SavvyCal" width="158" height="48">
      <img class="col-span-2 max-h-28 w-full object-contain lg:col-span-1 drop-shadow-2xl cursor-pointer" src="./assets/etherscan.png" alt="etherscan" width="158" height="48">
      <img class="col-span-2 max-h-28 w-full object-contain lg:col-span-1 drop-shadow-2xl cursor-pointer" src="./assets/coinmarketcap.png" alt="etherscan" width="158" height="48">
      <img class="col-span-2 col-start-2 max-h-28  w-full object-contain sm:col-start-auto lg:col-span-1 drop-shadow-2xl cursor-pointer" src="./assets/uniswap.png" alt="Statamic" width="158" height="48">
    </div>
  </div>
  <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
    <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
</div>
