<div class="relative bg-sq-primary">
<!--  <div class="absolute inset-0 flex items-center" aria-hidden="true">-->
<!--    <div class="w-full border-t border-dashed border-white border-8"></div>-->
<!--  </div>-->
<div class="w-full">
  <img  
  src="./assets/delimiter.png" alt="delimiter">
</div>
</div>
<div class="bg-sq-primary">
  <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 sm:py-24 lg:px-0">
    <h2
      class="text-9xl font-bold tracking-tight text-white italic text-center drop-shadow-xl shadow-black text-style">
      tokenomics</h2>
    <div class="mt-24">
      <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
        <div class="mx-auto max-w-xl px-6 lg:col-start-2 lg:mx-0 lg:max-w-none lg:px-0 lg:py-32">
          <div>
            <div class="mt-6 ">
              <h2 class="text-3xl font-bold tracking-tight text-white text-style drop-shadow-xl shadow-black">Token
                Supply:</h2>
              <p class="mt-4 text-2xl text-white text-style">
                No taxes. It's that simple.</p>
              <p class="mt-4 text-2xl text-white text-style">
                82% of the tokens were sent to the liquidity pool and the contract was renounced. The remaining percentage of the supply is kept in three wallets to be used only for incentive funds, rewards, marketing, and future centralized exchange listings.</p>
            </div>
          </div>
        </div>
        <div class="mx-auto max-w-xl px-6 lg:col-end-2 lg:mx-0 lg:max-w-none lg:px-0 pb-8">
          <div class="pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0">
            <img
              class="w-full lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="./assets/background-tokenomics.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
