<div class="relative bg-sq-primary">
  <div class="w-full">
    <img
    src="./assets/delimiter.png" alt="delimiter">
  </div>
</div>
<div id="roadmap" class="bg-sq-primary py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <h1
        class="text-6xl font-bold tracking-tight text-white sm:text-9xl drop-shadow-xl shadow-black italic text-style">roadmap</h1>
      <div class="py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">

            </div>
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
              <dt class="text-lg leading-7 text-white drop-shadow-md  text-style">Phase 1: Launch and Initial Growth</dt>
              <dt class="text-lg leading-7 text-white drop-shadow-md text-style"> Phase 2: Consolidation and Community Expansion</dt>
              <dt class="text-lg leading-7 text-white drop-shadow-md text-style">Phase 3: Project Maturity and Sustainability</dt>

            </div>
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">

            </div>
          </dl>
        </div>
      </div>
      <p class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-white text-style">Ride the wave of fun with SquirtleCoin! Discover our incredible roadmap full of adventures, irreverence, and rewards. Join the Squirtle revolution and be part of our exciting journey to success.</p>
    </div>
    <div class="isolate mx-auto mt-10 grid max-w-md grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div class="rounded-3xl p-8 xl:p-10 ring-2 ring-white shadow-lg bg-primary/50">
        <div class="flex items-center  gap-x-4">
          <h2 id="tier-freelancer"
            class="text-5xl font-semibold italic text-white text-center drop-shadow-lg text-style">
            phase 1</h2>
        </div>
        <ul role="list"
          class="mt-8 space-y-3 text-2xl leading-6 text-white xl:mt-10 drop-shadow-lg text-style">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor"
              aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            SquirtleCoin launch and public sale.
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none  text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Listing on decentralized exchanges and promotion of trading.
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none  text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Launch of a staking reward program for SquirtleCoin holders.
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none  text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Viral marketing on social media with influencer collaborations.
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none  text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Squirtle-themed contests with rewards in SquirtleCoin.
          </li>
        </ul>
      </div>
      <div class="rounded-3xl p-8 xl:p-10 ring-2 ring-white shadow-lg bg-primary/50">
        <div class="flex items-center justify-between gap-x-4">
          <h2 id="tier-startup"
            class="text-5xl font-semibold leading-8 text-white drop-shadow-lg text-style">phase
            2</h2>
        </div>
        <ul role="list"
          class="mt-8 space-y-3 text-2xl leading-6 text-white xl:mt-10 drop-shadow-lg text-style">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor"
              aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            A global "Squirtle Treasure Hunt" event with SquirtleCoin prizes.
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor"
              aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Squirtle-themed meetups and virtual community events.
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor"
              aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Release of new NFT arts for SquirtleCoin holders.
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor"
              aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Introduction of a SquirtleCoin ambassador program.
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor"
              aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            CEX Listings 10,000+holders
          </li>
        </ul>
      </div>
      <div class="rounded-3xl p-8 xl:p-10 ring-2 ring-white shadow-lg bg-primary/50">
        <div class="flex items-center justify-between gap-x-4">
          <h2 id="tier-enterprise"
            class="text-5xl font-semibold leading-8 text-white drop-shadow-lg text-style">phase
            3</h2>
        </div>
        <ul role="list"
          class="mt-8 space-y-3 text-2xl leading-6 text-white drop-shadow-lg xl:mt-10 text-style">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor"
              aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Celebration of "Squirtle Day" with special events for SquirtleCoin holders.
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Introduction of a decentralized governance system for token holders.
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Evaluation and adjustment of the project's community and environmental impact.
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            T1 Exchange Listings 100,000+ holders
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
