<div class="relative bg-sq-primary">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full">
      <img
      src="./assets/delimiter.png" alt="delimiter">
    </div>
  </div>
</div>
<div id="about">
<div class="bg-sq-primary" >
  <div class="mx-auto max-w-7xl px-6 py-16 lg:px-8 ">
    <p class="text-center text-base font-semibold text-gray-500">Coming soon</p>
    <div class="mt-6 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
      <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
        <p>Binance</p>
        <img class="h-12" src="./assets/binance-logo.png" alt="binance">
      </div>
      <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
        <img class="h-12" src="./assets/gemini-logo.png" alt="gemini">
      </div>
      <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
        <img class="h-12" src="./assets/kucoin-logo.png" alt="kucoin">
      </div>
      <div class="col-span-1 flex justify-center md:col-span-2 md:col-start-2 lg:col-span-1">
        <img class="h-12" src="./assets/cryptocom-logo.png" alt="cryptocom">
      </div>
      <div class="col-span-2 flex justify-center md:col-span-2 md:col-start-4 lg:col-span-1">
        <img class="h-12" src="./assets/huobi-logo.png" alt="huobi">
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-7xl px-6 py-16 lg:px-8">
    <div class="mt-6 grid grid-cols-2 gap-7 md:grid-cols-5 lg:grid-cols-4">
      <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
        <img class="h-12" src="./assets/bybit-logo.png" alt="bybit">
      </div>
      <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
        <img class="h-12" src="./assets/bitget-logo.png" alt="bitget">
      </div>
      <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
        <img class="h-12" src="./assets/okx-logo.png" alt="okx">
      </div>
      <div class="col-span-1 flex justify-center md:col-span-2 md:col-start-2 lg:col-span-1">
        <img class="h-12" src="./assets/bingx-logo.png" alt="bingx">
      </div>
    </div>
  </div>
</div>
<div class="relative overflow-hidden pb-32 pt-16 bg-sq-primary">
  <div aria-hidden="true" class="absolute inset-x-0 top-0 h-48 bg-gradient-to-b from-gray-100"></div>
  <div class="relative">
    <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div class="mx-auto max-w-xl px-6 lg:mx-0 lg:max-w-none lg:px-0 lg:py-16">
        <div>

          <div class="mt-6">
            <h1
              class="text-6xl font-bold tracking-tight text-white sm:text-9xl drop-shadow-xl shadow-black italic text-style">About</h1>
            <p class="mt-4 text-2xl text-white text-style">SquirtleCoin has arrived, the revolution in the Pokémon world that everyone has been waiting for! Created by the beloved Squirtle and powered by advanced artificial intelligence technology, this digital token aims to bring together the Pokémon community and highlight Squirtle. </p>
            <p class="mt-4 text-2xl text-white text-style">By being a part of the exciting SquirtleCoin revolution, you'll be enjoying a decentralized and secure ecosystem, while also supporting your favorite Pokémon and reaping the benefits of cutting-edge technology. Join the SquirtleCoin team, let's make history and place Squirtle at the very top!</p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="-mr-48 pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0">
          <img
            class="w-full lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
            ngSrc="./assets/background-about.png"
            alt="Inbox user interface"
            fill />
        </div>
      </div>
    </div>
  </div>
</div>
</div>
