
<!--</div>-->
<div class="bg-white">
  <!-- Header -->
  <sqr-header></sqr-header>

  <main>
    <!-- Home section -->
    <sqr-home></sqr-home>

    <!-- About section -->
    <sqr-about></sqr-about>

    <!-- how to buy section -->
    <sqr-how-buy></sqr-how-buy>

    <!-- tokenomics section -->
    <sqr-tokenomics></sqr-tokenomics>

    <!-- roadmap section -->
    <sqr-roadmap></sqr-roadmap>

    <!-- contact section -->
    <sqr-contact></sqr-contact>
  </main>

  <!-- Footer -->
  <sqr-footer></sqr-footer>
</div>
