<div class="relative bg-sq-primary">
  <div class="w-full">
    <img  
    src="./assets/delimiter.png" alt="delimiter">
  </div>
</div>
<div class="bg-sq-primary py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <h2
        class="text-9xl font-bold tracking-tight text-white italic text-center italic drop-shadow-xl shadow-black text-style">contact
      </h2>
      <div class="py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">

            </div>
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">

            </div>
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">

            </div>
          </dl>
        </div>
      </div>
      <p
        class="mx-auto mt-6 max-w-2xl text-center text-2xl leading-8 text-white drop-shadow-xl shadow-black italic text-style">$SquirtleCoin, the coolest cryptocurrency inspired by our beloved Squirtle from the Pokémon world, is here to crash the party and empower the community. We know Nintendo might freak out and send us a lawsuit, but you know what?</p>

      <p
        class="mx-auto mt-6 max-w-2xl text-center text-2xl leading-8 text-white drop-shadow-xl shadow-black italic text-style">We invite you to join the cause and use SquirtleCoin to show the world that Squirtle deserves more recognition! Together, let's challenge the system and show everyone the power of the SquirtleCoin community, fighting for a future where Squirtle can be the shining star it was always meant to be.</p>
    </div>
  </div>
</div>
