<div class="relative bg-sq-primary">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full">
      <img  
      src="./assets/delimiter.png" alt="delimiter">
    </div>
  </div> 
</div>
<div class="bg-sq-primary">
  <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 sm:py-24 lg:px-0">
    <h2
      class="text-9xl font-bold tracking-tight text-white italic text-center drop-shadow-xl shadow-black text-style">how to buy</h2>
    <div class="mt-12">
      <section aria-labelledby="cart-heading">


        <ul role="list" class="">
          <li class="flex py-6">
              <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
                <div
                  class="mx-auto flex max-w-2xl border-dashed border-2 border-white shadow-lg flex-col gap-16 bg-primary/50 px-6 py-16 ring-1 ring-white/10 sm:rounded-3xl sm:p-8 lg:mx-0 lg:max-w-none lg:flex-row lg:items-center lg:py-20 xl:gap-x-20 xl:px-20">
                  <img
                    class="h-28 w-28 flex-none  object-cover lg:aspect-square lg:h-auto lg:max-w-sm" src="./assets/howtobuy1.png" alt="">
                  <div class="w-full flex-auto">
                    <h2
                      class="text-3xl font-bold tracking-tight text-white sm:text-4xl italic drop-shadow-xl shadow-black text-style">Create a Wallet</h2>
                    <p class="mt-6 text-2xl leading-8 text-white text-style">download metamask or
                      your
                      wallet of choice from the app store or google play store for free. Desktop users, download the google chrome extension by going to metamask.io.</p>

                  </div>
                </div>
              </div>
          </li>
          <li class="flex py-6">
            <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
              <div
                class="mx-auto flex max-w-2xl border-dashed border-2 border-white shadow-lg flex-col gap-16 bg-primary/50 px-6 py-16 ring-1 ring-white/10 sm:rounded-3xl sm:p-8 lg:mx-0 lg:max-w-none lg:flex-row lg:items-center lg:py-20 xl:gap-x-20 xl:px-20">
                <img
                  class="h-28 w-28 flex-none  object-cover lg:h-auto lg:max-w-sm" src="./assets/howtobuy3.png" alt="">
                <div class="w-full flex-auto">
                  <h2
                    class="text-3xl font-bold tracking-tight text-white sm:text-4xl italic drop-shadow-xl shadow-black text-style">Get Some ETH
                  </h2>
                  <p class="mt-6 text-2xl leading-8 text-white text-style">have ETH in your wallet
                    to switch
                    to $SQUIRTLE. If you don’t have any ETH, you can buy directly on metamask,
                    transfer from another wallet, or buy on another exchange and send it to your wallet.</p>

                </div>
              </div>
            </div>
          </li>
          <li class="flex py-6">
            <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
              <div
                class="mx-auto flex max-w-2xl border-dashed border-2 border-white shadow-lg flex-col gap-16 bg-primary/50 px-6 py-16 ring-1 ring-white/10 sm:rounded-3xl sm:p-8 lg:mx-0 lg:max-w-none lg:flex-row lg:items-center lg:py-20 xl:gap-x-20 xl:px-20">
                <img
                  class="h-28 w-28 flex-none  object-cover" src="./assets/howotbuy3.png" alt="">
                <div class="w-full flex-auto">
                  <h2
                    class="text-3xl font-bold tracking-tight text-white sm:text-4xl italic drop-shadow-xl shadow-black text-style">Go to Uniswap</h2>
                  <p class="mt-6 text-2xl leading-8 text-white text-style">connect to Uniswap. Go to
                    app.uniswap.org in google chrome or on the browser inside your Metamask app.
                    Connect your wallet. Paste the $SQUIRTLE token address into Uniswap, select
                    Squirtle, and confirm. When Metamask prompts you for a wallet signature, sign
                    .</p>

                </div>
              </div>
            </div>
          </li>
          <li class="flex py-6">
            <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
              <div
                class="mx-auto flex max-w-2xl border-dashed border-2 border-white shadow-lg flex-col gap-16 bg-primary/50 px-6 py-16 ring-1 ring-white/10 sm:rounded-3xl sm:p-8 lg:mx-0 lg:max-w-none lg:flex-row lg:items-center lg:py-20 xl:gap-x-20 xl:px-20">
                <img
                  class="h-28 w-28 flex-none  object-cover lg:aspect-square lg:h-auto lg:max-w-sm" src="./assets/howtobuy4.png" alt="">
                <div class="w-full flex-auto">
                  <h2
                    class="text-3xl font-bold tracking-tight text-white sm:text-4xl italic drop-shadow-xl shadow-black text-style">Switch ETH for $SQUIRTLE</h2>
                  <p class="mt-6 text-2xl leading-8 text-white text-style">switch ETH for $SQUIRTLE. We
                    have ZERO taxes so you don’t need to worry about buying with a specific slippage, although you may need to use slippage during times of market volatility..</p>

                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
